* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/v882-aew-57-e.JPG');
    background-size: cover;
}

.navbar, .footer {
    background-color: #2eccb4;
    padding: 10px 20px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.NavButton {
    background-color: rgb(141, 252, 239);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.menu-box {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 481px;
}

.menu-box h2 {
    margin-bottom: 20px;
}

.menu-box a button {
    margin: 10px;
    padding: 15px 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 200px;
}

.menu-box a button:hover {
    background-color: #2eccb4;
    color: black;
}
