html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.BodyDispositivo {
    font-family: Arial, sans-serif;
    background-image: url('../img/v882-aew-57-e.JPG');
    background-size: cover;
}
.pagina-inicio{
    font-family: "Open Sans", sans-serif;
    background-image: url('../img/Fondo.jpg');
    background-size: cover;
  }
  
a{
  text-decoration: none;
}


.navbar {
    background-color: #2eccb4;
    padding: 1rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2.3rem;
}
.navbar-right{
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.nav-list .nav-link {
  background-color: rgb(141, 252, 239); 
  color:rgb(15, 15, 15);
  padding: 10px 12px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-list .nav-link:hover {
  background-color: black;
  color: white;
}


.logo{
  color: black;
}
.footer{
    background-color: #2eccb4;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2.3rem; 
    margin-top: 8.6rem;   
}

  
  .container, .container-log, .container-registro{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
  }

  
  /*Style Inicio*/

  .menu-box, .intro {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 380px;
}

.intro{
  font-size: 15px;
  text-align: center;
}

.intro p{
color: #a1c6db;
text-shadow: #849cb4;


}

h2 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: #ced3d3;
}

.menu-box a button {
    margin: 10px;
    padding: 15px 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 200px;
}

.menu-box a button:hover {
    background-color: #2eccb4;
    color: black;
}

/*Dispositivo*/
.container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container .form-box {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;
    backdrop-filter: blur(10px);
    max-width: 600px;
    width: 100%;

}

.BodyDispositivo .form-box img {
    width: 60px;
    margin-bottom: 20px;
}

.BodyDispositivo .form-box input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
  }
  
.BodyDispositivo .Dispositivo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 0;
  }

.BodyDispositivo .form-box textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    resize: none;
    font-family: inherit;
  }
  
.BodyDispositivo .form-box button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
  }

  .button-group {
  display: flex;
  gap: 10px;
  justify-content: center; 
  margin-top: 15px;
  justify-content: space-between;
}

.button-group button {
  max-width: 150px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-group button:hover {
  background-color: #2eccb4;
  color: black;
}

.button-group button a {
  color: white;
  text-decoration: none;
  display: block;
}
/*log in*/
.container-log .form-box{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;
    backdrop-filter: blur(10px);
    max-width: 400px;
    width: 100%;
    height: 300px;
  }

  .container-log .form-box img{
    width: 60px;
    margin-bottom: 20px;
  }
  .container-log .form-box input{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
  }
  .container-log .form-box textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    resize: none;
    font-family: inherit;
  }
  .button{
  max-width: 150px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  }
  .button:hover{
    background-color: #2eccb4;
  color: black;
  }
  /*Registro*/
  .container-registro .form-box{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;
    backdrop-filter: blur(10px);
    max-width: 400px;
    width: 100%;
    height: 410px;
  }
  .container-registro .form-box img{
    width: 60px;
    margin-bottom: 20px;
  }
  .container-registro .form-box input{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
  }
  .container-registro .form-box textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    resize: none;
    font-family: inherit;
  }

  .tabla-dispositivos {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
  }
  .tabla-dispositivos th, .tabla-dispositivos td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  .tabla-dispositivos th {
    background-color: #2eccb4;
    color: black;
    font-weight: bold;
  }
  .tabla-dispositivos tr:hover {
    background-color: #f0f0f0;
  }
  .container-view {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  h2 {
    margin-bottom: 20px;
    font-size: 3rem;
  }  
  .tit{
    font-size: 24px;
  }

  .dropdown {
  position: relative;
  display: inline-block;
}

.nav-btn {
  background-color: rgb(141, 252, 239); 
  color: rgb(15, 15, 15);
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  min-width: 150px;  
  text-align: center;
  transition: background-color 0.3s;
}

.nav-btn:hover {
    background-color: #0e100f;
    color: rgb(255, 255, 255);
}


.dropdown-content {
  display: none;
  position: absolute;
  right: 0; /* Para alinear el menú a la derecha */
  background-color: white;
  min-width: 250px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.track-form {
  display: flex;
  flex-direction: column;
}

.track-form input {
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.track-form button {
  background-color: rgb(14, 13, 12);
  color: white;
  padding: 8px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.track-form button:hover {
  background-color:  #a1c6db;
}

.consulta-text{
  font-size: 12px;
  padding: 8px;
}